.btn {
    font-family: inherit;
    font-weight:700;
    font-size:14px;
    line-height: 16px;
    color: #fff;
    background-color: var(--button-color-blue);
    border:0;
    cursor: pointer;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-radius: 3.125px;
    padding: 16px 60px;
    text-align: center;
    transition: all 0.4s ease-out;
}

.btn:hover{
    background-color: var(--hover-color);
}

.input {
    font-weight: 400;
    font-size:14px;
    line-height: 19.07px;
    padding: 14px 20px;
    border: 0.63px solid var(--color-primary);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-radius: 3.125px;
    width: 65%;
}

.footer__a {
    color: #fff;
    text-decoration: none;
}


@media only screen and (max-width:990px) {
    .input {
        width: 100%;
        margin-bottom: 16px;
        font-size: 10px;
        line-height: 12px;
    }

    .btn {
        font-size: 10px;
        line-height: 12px;
    }
}