.access {
    background-color: var(--background-color);
    color: #fff;
    padding: 120px 5%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.access__div {
    width: 40%;
    flex-direction: column;
    justify-content: center;
}

.access__form {
    width: 38%;
}

@media only screen and (max-width: 990px){
    .access {
        flex-direction: column;
    }

    .access__div {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }
    
    .access__form {
        width: 100%;
    }
}