.productive {
    justify-content: space-between;
    align-items: center;
    background-image: url("../../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    padding: 150px 5%;
}

.productive__div {
    flex-direction: column;
    width: 50%;
}

.productive__div__card {
    flex-direction: column;
    width: 356px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 5px rgba(56, 56, 56, 0.0458843);
    border-radius: 5px; 
    padding: 15px 33px;
}

.productive__div__card__user {
    width: 137px;
}

.productive__div__card__user__content {
    margin-left: 8px;
}


@media only screen and (max-width:990px) {
    .productive {
        margin-top: 100px;
        padding-top: 100px;
        background-position: center;
        flex-direction: column-reverse;
    }

    .productive__div {
        width: 100%;
        align-items: center;
        text-align: center;
    }
    
    .productive__div__card {
        text-align: start;
    }
}

@media only screen and (max-width: 568px){
    .productive__div__card {
        width: 100%;
    }
}